<!DOCTYPE html>
<html>
	<head>
		<title>Tabchef</title>
		<script src="//use.typekit.net/uaj3lmv.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="topbar">
			<div class="tabchef_identity">
				<a href="#">TabChef</a>
			</div>
			<div class="user_auth">
				<% if signed_in? %>
					<span class="user_auth__email"><%= current_user.email %></span>
					<%= link_to 'Sign out', sign_out_path, class: "button button--primary", method: :delete %>
				<% else %>
					<%= link_to 'Sign in', sign_in_path, class: "button button--primary" %>
				<% end %>
			</div>
		</div>

		<div id="flash">
			<% flash.each do |key, value| %>
				<div class="flash <%= key %>"><%= value %></div>
			<% end %>
		</div>

		<div class="dashboard">
			<nav class="sidenav">
				<ul>
					<li><a href="#">Bookmarks</a></li>
					<li><a href="#">CSS</a></li>
					<li><a href="#">Export</a></li>
				</ul>
			</nav>
			<div class="dashboard__content">
				<div class="container">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
